*{
    margin: 0 ;
    padding: 0;

}

.page{

    width: 880px; /*2480px imprimir*/
    height: 1080px;/*3508px imprimir*/
    background: #D8D8D8;
    margin: 0.5em auto;
    padding: 0.5em; 
    margin: 1em auto;
    padding: 1em; 
}

/*PRIMER CUADRO DE LA FACTURA*/
.header_1{
    width: 300px;
    height: 600px;
    background: #a8a8a8;
    font-size: 15px;
    border-spacing: 0px;
    float: right;  
}

.colmn_1_1, .colmn_1_5{
    width: 55%;
    height: 100%;
    text-align: center;   
}

.colmn_1_1 > p{
    border: 1px solid black;
    border-radius: 15px 0px 0px 0px;
    height: 100%;
    padding-top: 2%;
}
.colmn_1_5 > p{
    border: 1px solid black;
    border-radius: 0px 0px 0px 15px;
    height: 100%;
    padding-top: 2%;
}

.colmn_1_2,.colmn_1_3, .colmn_1_6,.colmn_1_7{
    width: 15%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    
}

.colmn_1_4, .colmn_1_8{
    width: 15%;
    height: 100%;
    text-align: center;
}

.colmn_1_4 > p{
    border: 1px solid black;
    border-radius: 0px 15px 0px 0px;
    height: 100%;
    padding-top: 4%;

}

.colmn_1_8 > p{
    border: 1px solid black;
    border-radius: 0px 0px 15px 0px;
    height: 100%;
    padding-top: 4%;
}

.colmn_1_9{
    width: 15%;
    height: 35px;
    text-align: center;
    font-size: 20px;
}

/*====================================================================================*/

/*SEGUNDO CUADRO CON LA INFORMACION DEL CLIENTE*/
.header_2{
    width: 880px; /*2480px imprimir*/
    /*height: 1080px;3508px imprimir*/
    background: #a8a8a8;
    margin: 1em auto;
    padding: 0.5em; 
    font-size: 15px;
    border: 1px solid;
    border-radius: 8px;
     
}

.colmn_2_2{
    /*text-indent: 0.5cm;*/
    padding-left:0.5cm;
}
.colmn_2_4{
    padding-left:0.5cm;
    width: 55%;
}
.colmn_2_5{
    padding-left:1cm;
    width: 45%;
    
}

.colmn_2_6{
    width: 45%;
    
}
.colmn_2_7{
    padding-left:1cm;
    width: 45%;
    
}

/*====================================================================================*/
/*TERCER Y CUARTO CUADRO DE TITULOS Y PRODUCTOS VENDIDOS*/
.header_3{
    width: 880px; /*2480px imprimir*/
    height: 52%;/*3508px imprimir*/
    background: #a8a8a8;
    font-size: 15px;
    border-spacing: 0px;
    border: 1px solid;
    border-radius: 7px 7px 0px 0px;   
}

.fila_9 > td{
    height: 30px;
}

.colmn_3_1{
    width: 11%;
    text-align: center;
    border: 1px solid;
    border-radius: 7px 0px 0px 7px; 
}
.colmn_3_2{
    width: 52%;
    border: 1px solid;
    padding-left:0.3cm;
    
}
.colmn_3_3{
    width: 20%;
    border: 1px solid;
    padding-left:0.4cm;
    
}
.colmn_3_4{
    width: 17%;
    border: 1px solid;
    padding-left:0.4cm;
    border-radius: 0px 7px 7px 0px;   
}
.fila_10 > td{
    height: 70%;
}
.colmn_3_5{
    width: 11%;
    text-align: center;
    border: 1px solid;    
}
.colmn_3_6{
    width: 52%;
    border: 1px solid;
    padding-left:0.1cm;    
}
.colmn_3_7{
    width: 20%;
    border: 1px solid;
    padding-left:0.5cm;   
}
.colmn_3_8{
    width: 17%;
    border: 1px solid;
    padding-left:0.5cm;
     
}

/*======================================================================*/
/*QUINTO CUADRO MONTOS, IVA, TOTAL Y FIRMA*/
.header_4{
    width: 880px; /*2480px imprimir*/
    height: 10%;/*3508px imprimir*/
    background: #a8a8a8;
    font-size: 15px;
    border-collapse: collapse;
    /*border-spacing: 0px;*/
    border: 1px solid;
        
}

.fila_11 > td{
    height: 35px;
}
.fila_12 > td{
    height: 35px;
}
.fila_13 > td{
    height: 40px;
    padding-bottom: 0.2cm;

}

.colmn_4_1,.colmn_4_4,.colmn_4_7{
    width: 51%; 
    text-align: center;
}

.colmn_4_2,.colmn_4_5, .colmn_4_8{
    width: 32%;
    text-align: right;
    padding-right: 0.2cm;
}
.colmn_4_5{border: 1px solid;}

.colmn_4_3, .colmn_4_6, .colmn_4_9 {
    width: 17%;
    text-align: right;
    
    border: 0.5px solid;
}

/*=============================================================*/
/*SEXTO CUADRO TIPO DE PAGO*/
.header_5{
    width: 880px; /*2480px imprimir*/
    height: 2.5%;
    background: #a8a8a8;
    font-size: 15px;
    border: 1px solid;
    border-radius: 8px;
        
}
.fila_14 > td{
    height: 15px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.3cm;
}
.colmn_5_2{
    width: 3%;
    border: 1px solid;
}

.colmn_5_3{
    width: 2.5%;
    border:1px solid;
}
.colmn_5_4{
    width: 7%;
}

.colmn_5_5{
    width: 10%;
}
.colmn_5_7{
    width: 40%;
    padding-left: 2.5cm;
}









