 <!-- tabla 1 - fechas de la factura y numero de la factura -->

 <div style="float:right;">
    <div name="table" style="display:table; width: 300px; height: 40px; font-size: 15px; ">
        <div name="fila1" style=" display: table-row; width:100%; height:20px; display: table-row;">
            <div name="columna1" style=" display:table-cell; width: 50%; height: 100%; border: 1px solid black; border-radius: 15px 0px 0px 0px;">
                <p style="text-align: center;">LUGAR DE EMISION</p>
            </div>
            <div name="columna2" style=" display:table-cell; width: 16%; height: 100%; border: 1px solid black;">
                <p style="text-align: center;">DIA</p>
            </div>
            <div name="columna3" style=" display:table-cell; width: 16%; height: 100%; border: 1px solid black; ">
                <p style="text-align: center;">MES</p>
            </div>
            <div name="columna4" style=" display:table-cell; width: 18%; height: 100%; border: 1px solid black; border-radius: 0px 15px 0px 0px;">
                <p style="text-align: center;">ANO</p>
            </div>
        </div>
        <div name="fila2" style="table-row; width:100%; height:20px; display: table-row;">
            <div name="columna1" style="width: 50%; height: 100%; border: 1px solid black; display:table-cell; border-radius: 0px 0px 0px 15px;">
                <p style="text-align: center;"><t t-esc="o.user_id.company_id.country_id.name"/></p>
            </div>
            <div name="columna2" style="display:table-cell; width: 16%; height: 100%; border: 1px solid black; display:table-cell;">
                <p style="text-align: center;"><t t-esc="o.date_invoice[8:]"/></p>
            </div>
            <div name="columna3" style="display:table-cell;width: 16%; height: 100%; border: 1px solid black; display:table-cell;">
                <p style="text-align: center;"><t t-esc="o.date_invoice[5:7]"/></p>
            </div>
            <div name="columna4" style="display:table-cell; width: 18%; height: 100%; border: 1px solid black;  border-radius: 0px 0px 15px 0px;">
                <p style="text-align: center;"><t t-esc="o.date_invoice[0:4]"/></p>
            </div>
        </div>

    </div>
    <div style="display:table; width: 300px; height: 20px; font-size: 15px; ">
        <div name="fila1" style="display:table-row; width:100%; height:100%; ">
            <div name="columna1234"  style="width: 100%; height: 100%;">
                <p style="text-align: center;">
                    <t t-if="o.origin == 0">
                         FACTURA
                    </t>
                    <t t-else="o.origin != 0">
                         NOTA DE CREDITO
                    </t>
                    <t t-esc="o.number"/></p>
            </div>

        </div>
    </div>
</div>

<!--Tabla 2- Datos de la empresa a la que se le produjo la venta-->

<div style="display:table; width: 898px; margin: 1em auto; padding: 0.5em; font-size: 15px; border: 1px solid; border-radius: 8px; ">
    <div style="display:table-row;">
        <div  style="">
             <p><b>NOMBRE O RAZON SOCIAL:</b></p>
        </div>
    </div>
    <div  style="display:table-row;">
        <div  style="padding-left:0.5cm;">
             <p><b><t t-esc="o.partner_id.name" /></b></p>
        </div>
    </div>
    <div  style="display:table-row;">
        <div  style="">
             <p><b>DOMICILIO FISCAL:</b></p>
        </div>
    </div>
    <div  style="display:table-row;">
        <div style="display:table-cell; padding-left:0.5cm; width: 55%;">
             <p><b><t t-esc="o.partner_id.street" /> <t t-esc="o.partner_id.city" /> <t t-esc="o.partner_id.country_id.name" /></b></p>
        </div>
        <div style="display:table-cell; padding-left:1cm; width: 45%;">
            <p><b>RIF. O C.I.:  <t t-esc="o.rif" /></b></p>
        </div>
    </div>
    <div  style="display:table-row;">
        <div  style="display:table-cell; width: 45%;">
             <p><b>CONDICIONES DE PAGO:   EFECTIVO</b></p>
        </div>
        <div  style="display:table-cell; padding-left:1cm; width: 45%;">
             <p><b>TELFS.: <t t-esc="o.partner_id.phone" /></b></p>
        </div>
    </div>

</div>

 <!-- Tabla 3 y 4 de cantidad, producto y costo-->

<div style="border: 1px solid; width: 898px; border-radius: 7px">
    <div style="display:table; width: 898px; height: 550px; font-size: 15px; border-spacing: 0px;  ">
        <div style="display:table-row; height: 30px;">
            <div style="display:table-cell; width: 11%; text-align: center; border: 1px solid; border-radius: 7px 0px 0px 7px; ">
                <p><b>CANTIDAD</b></p>
            </div>
            <div style="display:table-cell; width: 52%; border: 1px solid; padding-left:0.3cm;">
                <p><b>DESCRIPCION</b></p>
            </div>
            <div style="display:table-cell; width: 20%; border: 1px solid; padding-left:0.4cm;">
                <p><b>PRE. UNIT.</b></p>
            </div>
            <div style="display:table-cell; width: 17%; border: 1px solid; padding-left:0.4cm; border-radius: 0px 7px 7px 0px; ">
                <p><b>TOTAL</b></p>
            </div>
        </div>
        <div t-foreach="o.invoice_line_ids" t-as="l" style="display:table-row; "> <!-- height: 470px;-->
                <div style="display:table-cell; width: 11%; text-align: center; border: 1px solid; ">
                    <p><b><span t-field="l.quantity"/></b></p>
                </div>
                <div style="display:table-cell; width: 52%; border: 1px solid; padding-left:0.1cm;  ">
                    <p><b><span t-field="l.name"/></b></p>
                </div>
                <div style="display:table-cell; width: 20%; border: 1px solid; padding-left:0.5cm; ">
                    <p><b><span t-field="l.price_unit"/></b></p>
                </div>
                <div style="display:table-cell; width: 17%; border: 1px solid; padding-left:0.5cm;">
                    <p><b><span t-field="l.price_subtotal"/></b></p>
                </div>
        </div>
    </div>

     <!-- Tabla 5 Montos de la factura, IVA y Firma del comprador -->

    <div style="display:table; width: 898px; height: 110px; font-size: 15px; border-collapse: collapse; border: 1px solid;">
        <div style="display:table-row; height: 35px;">
            <div style="display:table-cell; width: 51%; text-align: center;">
                <p><b>ESTE DOCUMENTO VA SIN TACHADURAS NI ENMIEDAS</b></p>
            </div>
            <div style="display:table-cell; width: 32%; text-align: right; padding-right: 0.2cm;">
                <p><b>SUB-TOTAL BS.</b></p>
            </div>
            <div style="display:table-cell; width: 17%; text-align: right; border: 1px solid; padding-right: 0.2cm;">
                <p><b><span t-field="o.amount_untaxed" t-options='{"widget": "monetary", "display_currency": o.currency_id}'/></b></p>
            </div>
        </div>
        <div style="display:table-row; height: 35px;">
            <div style="display:table-col; width: 51%; text-align: center;">
                <p><b></b></p>
            </div>
            <div t-foreach="o._get_tax_amount_by_group()" t-as="amount_by_group" style="display:table-cell; width: 32%; text-align: right; padding-right: 0.2cm; border: 1px solid;">
                <p><b>I.V.A  <span t-esc="amount_by_group[0] if len(o.tax_line_ids) > 1 else (o.tax_line_ids.tax_id.description or o.tax_line_ids.tax_id.name)"/>
                    SOBRE  <span t-field="o.amount_untaxed"/></b></p>
            </div>
            <div style="display:table-cell; width: 17%; text-align: right; border: 0.5px solid; padding-right: 0.2cm;">
                <p><b><span t-field="o.amount_tax"/></b></p>
            </div>
        </div>
        <div style="display:table-row; height: 40px; padding-bottom: 0.2cm;">
            <div style="display:table-cell; width: 51%; text-align: center;">
                <p><b>─────────────────────────</b></p>
                <p><b>RECIBIR CONFORME</b></p>
            </div>
            <div style="display:table-cell; width: 32%; text-align: right; padding-right: 0.2cm;">
                <p><b>TOTAL A PAGAR BS.</b></p>
            </div>
            <div style="display:table-cell; width: 17%; text-align: right; border: 0.5px solid; padding-right: 0.2cm;">
                <p><b><span t-field="o.amount_total"/></b></p>
            </div>
        </div>
    </div>

    <!-- Tabla 6 - tipo de pago y el banco en cuestion -->

    <div style="border: 1px solid black; height:49px; border-radius: 7px;">
        <div style="display:table; width: 898px; height: 15px; font-size: 15px; border-radius: 7px 7px 0px 0px; ">
            <div  style="padding-left: 0.3cm;">
                <div style=""><p>FORMA DE PAGO:</p></div>
            </div>
        </div>

        <div style="display:table; width: 898px; margin-bottom:15px; font-size: 15px; border-spacing: 0px; border-radius: 0px 0px 7px 7px; ">
            <div style="display:table-row; height:17px; ">

                  <div style="display:table; border:1px solid; height: 17px; width: 25px; margin-left: 6px; "><p xml:space="preserve"> </p></div>

                  <div style="display:table-cell; width: 7%; border:1px solid; "><p>EFECTIVO</p></div>

                  <div style="display:table; border:1px solid; height: 17px; width: 25px; margin-left: 6px;"><p xml:space="preserve"> </p></div>
                  <div style="display:table-cell; width: 8.3%; border:1px solid;"><p>T. DEBITO</p></div>

                  <div style="display:table; border:1px solid; height: 17px; width: 25px; margin-left: 6px;"><p xml:space="preserve"> </p></div>
                  <div style="display:table-cell; width: 9.3%; border:1px solid;"><p>T. CREDITO</p></div>

                  <div style="display:table; border:1px solid; height: 17px; width: 25px; margin-left: 6px;"><p xml:space="preserve"> </p></div>
                  <div style="display:table-cell; width: 7%; border:1px solid;"><p>TRANSF.</p></div>

                  <div style="display:table; border:1px solid; height: 17px; width: 25px; margin-left: 6px;"><p xml:space="preserve"> </p></div>
                  <div style="display:table-cell; width: 8.7%;border:1px solid;"><p>CHEQUE N</p></div>

                  <div style="display:table-cell; width: 39%; padding-left: 20px;"><p>BANCO</p></div>
            </div>
             <br/>
        </div>
         <br/>
    </div>
</div>